In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.2.1

In [3]:
df = pd.read_parquet('yellow_tripdata_2023-01.parquet')

In [10]:
print(df.head(2))

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2023-01-01 00:32:10   2023-01-01 00:40:36              1.0
1         2  2023-01-01 00:55:08   2023-01-01 01:01:27              1.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           0.97         1.0                  N           161           141
1           1.10         1.0                  N            43           237

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2          9.3    1.0      0.5         0.0           0.0
1             1          7.9    1.0      0.5         4.0           0.0

   improvement_surcharge  total_amount  congestion_surcharge  airport_fee
0                    1.0          14.3                   2.5          0.0
1                    1.0          16.9                   2.5          0.0

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://user:pass@localhost:5432/dbku')

In [7]:
engine.connect()

In [8]:
schema = pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine)

In [9]:
import pyarrow.parquet as pq

# Open the Parquet file
parquet_file = pq.ParquetFile('yellow_tripdata_2023-01.parquet')

# Get the total number of row groups
total_row_groups = parquet_file.num_row_groups

# Define the chunk size
chunk_size = 10000

# Iterate over row groups
for i in range(total_row_groups):
    # Read a row group
    table = parquet_file.read_row_group(i)
    # Convert the row group to a Pandas DataFrame
    df_chunk = table.to_pandas()
    # Process the chunk as needed
    df_chunk.to_sql('yellow_taxi_data', con=engine, if_exists='replace', index=False)

print('done')

done